@use "../../globalStyles/mixins" as m;
@use "../../globalStyles/variables" as v;

.current-holdings-form-wrapper {
  margin-top: 1.5rem;
  box-shadow: v.$box-shadow;
  border-radius: v.$border-radius-medium;
  background: m.color(white);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .container {
    width: 100%;
    max-width: 25rem;
    text-align: center;

    .input-container {
      width: 100%;
      margin: 0 auto;

      .current-holdings-input-wrapper {
        &:not(:last-child) {
          margin: 0 0 1rem 0;
        }
      }

      .new-quantity-container {
        label {
          font-size: m.size(large-0);
        }

        input {
          width: 25%;
          text-align: center;
          font-size: m.size(large-0);
          font-weight: m.weight(semi-bold);
        }
      }
    }
  }
}

@include m.mobile {
  .current-holdings-input-wrapper {
    input {
      padding: 0;
    }
  }
}
